h1{
    font-size: 26px;
    color: #44ccac;
}

h2{
    font-size: 21px;
    color: #6060DD;
}

p{
    font-size: 16px;
    font-weight:600;
    color:black;
    font-family: Times New Roman, Times, serif;
}


info2180{
    margin: 20px;
    padding: 20px;
    background-color: #d0addf
}

img{
   height: 100px;
   width: 100px;
}